<ion-header>
  <ion-toolbar>
    <ion-title>Selfie de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar routerLink="bottom">
      <ion-tab-button tab="noticias1">
        <ion-icon name="earth-sharp"></ion-icon>
        <ion-label>Noticias</ion-label>
     </ion-tab-button>

      <ion-tab-button routerLink="imagens-lugares">
        <ion-icon name="camera-sharp"></ion-icon>
        <ion-label>Imagens de Lugares</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
