<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar routerLink="bottom">

      <ion-tab-button routerLink="imagens-lugares">
        <ion-icon name="camera-sharp"></ion-icon>
        <ion-label>Imagens de Lugares</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="selfie-usuarios">
        <ion-icon name="happy-sharp"></ion-icon>
        <ion-label>Selfies de usúarios</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
