<ion-header [translucent]="true">
  <ion-toolbar>
        <ion-buttons slot="start">
           <ion-menu-button menu="custom"></ion-menu-button>
        </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong><h2>Olá, seja muito bem vindo ao nosso site !</h2></strong>
    <p>Clique no botão abaixo para explorar nosso menu.</p>
    <ion-menu-button>Clique aqui!</ion-menu-button> 
  </div>
</ion-content>
